input {
  margin: 5px 0 5px 0;
  width: 50%;
  padding: 5px;
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
span {
  margin: 5px 0 5px 0;
  width: 50%;
  padding: 5px;
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 .No {
  color: green;
}
h1 .Yes {
  color: red;
}
